
body{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}

#title-page{
    color: #fff;
    background-color: #ff4c68;
}

.main-line{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}

.download-button{
    font-family: 'Ubuntu', sans-serif;
    margin: 5% 3% 5% 0;

}

.container-fluid{
    padding: 3% 15% 5%;
}

/* navigation bar */

.navbar{
    margin: 0 0 4.5rem 0;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    font-size: 1.2rem;
    padding-right: 1.1rem;

}

.nav-link{
    color: #f5e4e4;
}
.nav-link:hover{
    color:#fff;
}

/* Mobile phone picture */

.parent-div{
    position: relative;
}

.title-image{
    right: 30%;
    width: 60%;
    transform: rotate(30deg);
    position: absolute;
}




#feature-section{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 3%;
}

.icons{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #ef8172;
}

.icons:hover{
    color: #ff4c68;
}

.section2heading{  
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#testimonials{
    
    background-color: #ef8172;
    text-align: center;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;

}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;   
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

#last-section{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
.last-line{
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
    color: #fff; 
    padding-bottom: 7%;  
}

.last-buttons{
    margin: 15px;
}

#footer-section{
    text-align: center;
    padding: 3%;
}
.ficon{
    margin-right: 1%;
}

@media (max-width:990px) {
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title-page{
        text-align: center;
    }
    
    .nav-item{
        text-align: end;
    }
}

@media (max-width:560px) {
    .title-image{
        position: static;
        transform: rotate(0);
    }
    .testimonial-text{
        font-size: 1.5rem;
    }

    .last-line{
        font-size: 1.5rem;
    }

    .main-line{
        font-size: 3rem;
    }

    .footer-text{
        font-size: 0.75rem;
    }

    #title-page{
        text-align: center;
    }
    
    .nav-item{
        text-align: end;
    }
}